	<div class="serviceDescription" id="service">
		<link rel="stylesheet" type="text/css" href="./components/brisas-service-description/brisas-service-description.css" async>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<hr><br>
		<section class="text-center">
			<header>
				<span class="title">BRISAS S.A.</span>
			</header>
			<p class="description">
				Conoc&eacute; la empresa de transporte mas prestigiosa de Mendoza.
			</p>
		</section>
		<div class="services">
			<div class="services-image">
				<img class="img-responsive" ng-src="./../../styles/images/86aa4a05-7fc8-4730-b753-7e3bd7b6d5b6.jpg"/>
			</div>
			<div class="col-xs-12 col-md-5 services-description">
				<article class="services-description__text">
					<header>
						<h3>Quienes somos</h3>					
					</header>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec volutpat ligula. In laoreet nisl sed commodo euismod. Aenean lorem est, ornare pharetra nulla quis, hendrerit convallis tellus. Maecenas pharetra nisl vel maximus sollicitudin. Curabitur convallis elementum felis et iaculis. Maecenas sollicitudin scelerisque pharetra. Mauris sem sem, gravida eu purus in, convallis auctor lacus.</p>
					<button class="btn btn-brisas pull-right" data-ui-sref="home.conocenos">Conocénos más <i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
				</article>
			</div>
		</div>
	</div>