@import 'mixins/main';
@import 'modules/main';
// @import 'bootstrap-custom';

html{
	position: relative;
	min-height: 100%;
	body{
		background-color:#f5f5f5;
		.table{
			width:100%;
			text-align: center;
			thead{
				background:$brisas-green;
				color:white;
			}
			tr{
				td{
					vertical-align: middle;
				}
			}
		}
		select, option{
			cursor:pointer;
		}
		font-family:$roboto;
		.header-wrapper{
			height:480px;
			@include phone {
				height:100vh;
			}
			@include tablet {
				height:100vh;
			}
		}
		.header, .body {
			&-wrapper{
				position:relative;
			}
		}
		.form-control, .btn{
			border-radius: 0;
			&:focus, &:active:focus, &:active{
				outline:none;
				border-color:transparent;
				box-shadow:none;
			}
		}
		.pagination{
			float:right;
		}
		.pagination>.active>a,
		.pagination>.active>a:focus,
		.pagination>.active>a:hover,
		.pagination>.active>span,
		.pagination>.active>span:focus,
		.pagination>.active>span:hover {
			background-color: $brisas-green;
			border-color: $brisas-green;
		}
	}
}
