	<div class="adminUsers container">
		<link rel="stylesheet" type="text/css" href="./dist/routes/adminUsers/adminUsers.css" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<article>
			<div class="content row">
				<div class="panel panel-default">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td><span>Nombre</span></td>
								<td><span>Apellido</span></td>
								<td><span>E-Mail</span></td>
								<td><span>Tel.</span></td>
								<td><span>Ciudad</span></td>
								<td style="width: 105px;"><span>Control</span></td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in adminUsers.users track by $index">
								<td><span>{{user.name}}</span></td>
								<td><span>{{user.lastname}}</span></td>
								<td><span>{{user.email}}</span></td>
								<td><span>{{user.tel}}</span></td>
								<td><span>{{user.city}}</span></td>
								<td><i ng-if="user.id !== user.loggedId" class="fa fa-times" tooltip-placement="left" uib-tooltip="Eliminar" ng-click="adminUsers.remove(user.id)"> </i> <i tooltip-placement="top" uib-tooltip="Editar" class="fa fa-pencil-square-o" ng-click="adminUsers.edit(user)"></i> <i tooltip-placement="right" uib-tooltip="{{user.isAdmin == 1 ? 'Quitar Admin':'Hacer Admin'}}" class="fa" ng-class="user.isAdmin == 1 ? 'fa-unlock':'fa-lock'" ng-click="adminUsers.makeAdmin(user)"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul uib-pagination previous-text="Anterior" next-text="Siguiente" next-text="&uacute;ltimo" total-items="bigTotalItems" ng-model="bigCurrentPage"  class="pagination-sm" boundary-link-numbers="true" items-per-page="5" rotate="false"></ul>
			</div>	
		</article>
	</div>