	<div class="packages" id="packages">
		<link rel="stylesheet" type="text/css" href="./dist/components/brisas-paquetes/brisas-paquetes.css" async>
		<div class="container">
			<div class="row text-center">
				<article>
					<header>
						<span class="title">Conoce Mendoza</span>
					</header>
					<p class="description">
						Mendoza esta llena de aventuras.Te estan esperando, viv&iacute;las!
					</p>
				</article>
			</div>
			<div class="col-xs-12">
				<div class="row circles">
					<div class="col-xs-12 col-md-4 circle">
						<article>
							<header>
								<img  ng-src="./dist/styles/images/bodega-sm.png">
								<h2>
									Visita nuestras bodegas
								</h3>
							</header>
							<p>
								Mendoza es tierra de bodegas y nosotros te llevamos a que vivas esta experiencia unica en la tierra del sol y del buen vino.
							</p>
						</article>				
					</div>
					<div class="col-xs-12 col-md-4 circle">
						<article>
							<header>
								<img  ng-src="./dist/styles/images/mountain-sm.png">
								<h2>
									Aventurate en las monta&ntilde;as
								</h2>
							</header>
							<p>
								Conocé con nosotros El paisaje unico de nuestra provincia, disfruta de nuestra cordillera realizando cabalgatas y almuerzos campestres.
							</p>
						</article>				
					</div>
					<div class="col-xs-12 col-md-4 circle">
						<article>
							<header>
								<img  ng-src="./dist/styles/images/travel-sm.png">
								<h2>
									Nos encargamos de todo.
								</h2>
							</header>
							<p>
								Nos encargamos de todos tus traslados, desde el aeropuerto hasta el hotel y a todos los recorridos que desees realizar, siempre con la mayor calidad, confort y seguridad.
							</p>
						</article>				
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4 col-md-offset-4">
					<button class="btn btn-brisas pull-right" data-ui-sref="home.paquetes">Consult&aacute; nuestros paquetes tur&iacute;sticos<i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
				</div>
			</div>
		</div>
	</div>