	<div class="editUser container">
		<link rel="stylesheet" type="text/css" href="./dist/routes/editUser/editUser.css" >
		
		<article>
			<div class="content">
				<div class="row">
					<form name="editUser.editUserForm"	class="editUserForm"	novalidate	data-ng-submit="editUser.editUserForm.$valid && !editUserForm.$pristine && editUser.editUserForm.$submitted && editUser.update()">

						<div class="row">
							<div class="col-xs-12 col-md-6 col-md-offset-3">
								<h3>Editar</h3>
							</div>
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.name.$invalid && editUser.editUserForm.$submitted}">
								<label for="name" class="control-label">Nombre</label>		
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text"	name="name"	id="name"	class="form-control" placeholder="Nombre"	maxlength="100"	autocomplete="off"	required 
									data-ng-model="editUser.user.name">
								</div>
								<span class="help-block"	data-ng-show="editUser.editUserForm.name.$error.required && editUser.editUserForm.$submitted">
									Debe ingresar su Nombre.
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.lastname.$invalid && editUser.editUserForm.$submitted}">
								<label for="lastname" class="control-label">Apellido</label>		
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text"	name="lastname"	id="lastname"	class="form-control" placeholder="Apellido" maxlength="100" autocomplete="off"	required 
									data-ng-model="editUser.user.lastname">
								</div>
								<span class="help-block"	data-ng-show="editUser.editUserForm.lastname.$error.required && editUser.editUserForm.$submitted">
									Debe ingresar su Apellido.
								</span>
							</div>				
						</div>
						<div class="row">
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.email.$invalid && editUser.editUserForm.$submitted}">			
								<label for="email" class="control-label">E-Mail</label>		
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email"	name="email"	id="email"	class="form-control" placeholder="E-Mail" maxlength="100" autocomplete="off"	required 
									data-ng-model="editUser.user.email" ng-blur="validateEmail()">
								</div>
								<span class="help-block"	data-ng-show="editUser.editUserForm.email.$error.required && editUser.editUserForm.$submitted">
									Debe ingresar su E-Mail.
								</span>
								<span class="help-block"	data-ng-show="editUser.editUserForm.email.$error.email && editUser.editUserForm.$submitted">
									Debe ingresar un E-Mail v&aacute;lido.
								</span>
							</div>				
						</div>
						<div class="row">
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.tel.$invalid && editUser.editUserForm.$submitted}">
								<label for="tel" class="control-label">Tel&eacute;fono</label>
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-phone"></i></span>
									<input type="text"	name="tel"	id="tel" class="form-control" placeholder="Tel&eacute;fono" maxlength="100" autocomplete="off"	required 
									data-ng-model="editUser.user.tel">
								</div>
								<span class="help-block"	data-ng-show="editUser.editUserForm.tel.$error.required && editUser.editUserForm.$submitted">
									Debe ingresar su Tel&eacute;fono.
								</span>
							</div>				
						</div>
						<div class="row">
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.country.$invalid && editUser.editUserForm.$submitted}">		
								<label for="country" class="control-label">Ciudad de residencia</label>		
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-map"></i></span>
									<input type="text"	name="country"	id="country" class="form-control" placeholder="Ciudad de residencia" maxlength="100" autocomplete="off"	required data-ng-model="editUser.user.city">			
								</div>		
								<span class="help-block"	data-ng-show="editUser.editUserForm.country.$error.required && editUser.editUserForm.$submitted">
									Debe ingresar su ciudad de residencia.
								</span>
							</div>				
						</div>
						<div class="row">
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.password.$invalid && editUser.editUserForm.$submitted}">		
								<label for="password" class="control-label">Contrase&ntilde;a</label>		
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									<input type="password"	name="password"	id="password"	class="form-control" placeholder="Contrase&ntilde;a" maxlength="100" autocomplete="off"	 
									data-ng-model="editUser.user.password">
								</div>
							</div>				
						</div>
						<div class="row">
							<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': editUser.editUserForm.pwd2.$invalid && editUser.editUserForm.$submitted}">		
								<label for="pwd2" class="control-label">Repita su Contrase&ntilde;a</label>		
								<div class="input-group"> 
									<span class="input-group-addon"><i class="fa fa-key"></i></span>
									<input type="password"  ng-minlength="6"	ng-maxlength="14" name="pwd2"	id="pwd2"	class="form-control" placeholder="Contrase&ntilde;a" maxlength="100" autocomplete="off"	required 
									data-ng-model="editUser.user.pwd2">
								</div>
								<span class="help-block"	data-ng-show="editUser.editUserForm.pwd2.$error.required && editUser.editUserForm.$submitted">
									Debe ingresar su Contrase&ntilde;a.
								</span>
								<span class="help-block"	data-ng-show="editUser.editUserForm.pwd2.$error.minlength && editUser.editUserForm.$submitted || editUser.editUserForm.pwd2.$error.maxlength && editUser.editUserForm.$submitted">
									Debe ingresar una contrase&ntilde;a entre 6 y 14 caracteres.
								</span>
							</div>				
						</div>
						<div class="row">
							<div class="col-xs-3 col-md-3 col-xs-offset-3">
								<button class="btn btn-brisas pull-right" type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Usuario </button>
							</div>
							<div class="col-xs-3 col-md-3">
								<button class="btn btn-brisas-danger pull-right" data-ui-sref="home" data-ui-sref-opts="{reload: true}"><i class="fa  fa-times" aria-hidden="true"></i> Cancelar </button>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</article>
	</div>