	<div class="security" id="security">
		<hr><br>
		<link rel="stylesheet" type="text/css" href="./dist/components/brisas-seguridad/brisas-seguridad.css" async>
		<div class="container">
			<section class="text-center col-xs-12">
				<span class="title">Cuando contratas nuestros servicios, contratas confianza.</span>
				
				<section class="col-xs-12">
					<div class="col-xs-12 col-md-3">
						<img data-ng-src="./dist/styles/images/shield.png">
					</div>
					<article class="col-xs-12 col-md-9">
						<header><h3>Seguridad en todos tus trayectos.</h3></header>
						<p>
							Las unidades cumplen con los requisitos de seguridad exigidos por las normativas vigentes en la dirección de vías y medios de transporte de la provincia de Mendoza (Seguros de Unidad y Seguros de Pasajeros). Además cuentan con matafuegos, botiquín de primeros auxilios, teléfono celular, sistema de comunicación radial y de posicionamiento global.
						</p>
					</article>
				</section>
				<section class="col-xs-12">
					<div class="col-xs-12 col-md-3">
						<img data-ng-src="./dist/styles/images/clock.png">
					</div>
					<article class="col-xs-12 col-md-9">
						<header><h3>Coordinamos tus viajes para que siempre llegues a tiempo.</h3></header>
						<p>
							La flota de vehículos con que contamos asciende a más de 120 unidades completamente equipadas para el confort del pasajero, lo que nos permite asegurar la disponibilidad de nuestro servicio. También, Contamos con una sala de operaciones con gente capacitada e idónea para satisfacer sus necesidades.
						</p>
					</article>

				</section>
				<section class="col-xs-12">
					<div class="col-xs-12 col-md-3">
						<img data-ng-src="./dist/styles/images/confort.png">
					</div>
					<article class="col-xs-12 col-md-9">
						<header><h3>Nos aseguramos que tus viajes sean los m&aacute;s placenteros.</h3></header>
						<p>
							Los vehículos posibles prestatarios del servicio cuentan con un máximo de 5 años de anti&uuml;edad. Todas nuestras unidades cuentan con aire acondicionado, calefacción, cierre centralizado, servicio de seguridad satelital, cinturones de seguridad en todos sus asientos y su apoya cabeza respectivo.
						</p>
					</article>
				</section>
			</div>
		</div>