@import '../../styles/mixins/main';

.security{
	h3{		
		@include responsive(phone){
			text-align: center;
		}
		font-family:$MuseoSans-500;
		font-size:22px;
	}
	p{
		@include responsive(phone){
			text-align: center;
		}
		font-family:$MuseoSans-100;
		font-size:18px;
	}
	section{
		text-align: center;
		margin:40px 0px;
		article{
			text-align: left;
		}
	}

}
@media print {
   .security {
       display: none;
    }
}