<div class="contacto" id="contactanos">
	<link rel="stylesheet" type="text/css" href="./dist/components/brisas-contacto/brisas-contacto.css" async>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<hr><br>
	<div class="container">

		<div class="row text-center">
			<article>
				<header>
					<span class="title">Contact&aacute;nos</span>
				</header>
				<p class="description">
					Te estamos esperando, con la mejor atenci&oacute;n las 24hs.
				</p>
			</article>
		</div>
		<form name="contactoCtrl.form"	class="contactoForm"	novalidate	data-ng-submit="contactoCtrl.form.$valid && contactoCtrl.form.$submitted && contactoCtrl.sendMail()">

			<div class="row">

				<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': contactoCtrl.form.name.$invalid && contactoCtrl.form.$submitted}">					
					<input type="text"	name="name"	id="name"	class="form-control" placeholder="Nombre"	maxlength="100"	autocomplete="off"	required 
					data-ng-model="contactoCtrl.email.name">
					<span class="help-block" 	data-ng-show="contactoCtrl.form.name.$error.required && contactoCtrl.form.$submitted">
						Debe ingresar su nombre.
					</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': contactoCtrl.form.lastname.$invalid && contactoCtrl.form.$submitted}">				
					<input type="text"	name="lastname"	id="lastname"	class="form-control" placeholder="Apellido"	maxlength="100"	autocomplete="off"	required 
					data-ng-model="contactoCtrl.email.lastname">
					<span class="help-block"	data-ng-show="contactoCtrl.form.lastname.$error.required && contactoCtrl.form.$submitted">
						Debe ingresar su Apellido.
					</span>
				</div>				
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': contactoCtrl.form.tel.$invalid && contactoCtrl.form.$submitted}">		
					<input type="text"	name="tel"	id="tel"	class="form-control" placeholder="Tel&eacute;fono"	maxlength="100"	autocomplete="off"	required 
					data-ng-model="contactoCtrl.email.tel">
					<span class="help-block"	data-ng-show="contactoCtrl.form.tel.$error.required && contactoCtrl.form.$submitted">
						Debe ingresar un tel&eacute;fono.
					</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': contactoCtrl.form.email.$invalid && contactoCtrl.form.$submitted}">		
					<input type="text"	name="email"	id="email"	class="form-control" placeholder="Correo electr&oacute;nico"	maxlength="100"	autocomplete="off"	required 
					data-ng-model="contactoCtrl.email.mail">
					<span class="help-block"	data-ng-show="contactoCtrl.form.email.$error.required && contactoCtrl.form.$submitted">
						Debe ingresar un Correo electr&oacute;nico.
					</span>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3" data-ng-class="{'has-error': contactoCtrl.form.consulta.$invalid && contactoCtrl.form.$submitted}">		
					<textarea name="consulta"	rows="7" id="consulta"	class="form-control" placeholder="Consulta"	maxlength="300"	autocomplete="off"	required 
					data-ng-model="contactoCtrl.email.consulta"></textarea> 
					<span class="help-block"	data-ng-show="contactoCtrl.form.email.$error.required && contactoCtrl.form.$submitted">
						Debe escribir su consulta.
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-md-offset-3">
					<button class="btn btn-brisas pull-right" ng-style="contactoCtrl.sendingMsg && {'background-color':'lightgray'}" type="submit" ng-click="contactoCtrl.sending()"><i ng-if="contactoCtrl.sendingMsg" class="fa fa-spinner fa-spin" style="margin-right:10px;font-size:18px;" aria-hidden="true"></i>{{contactoCtrl.btnMsg}}<i ng-if="!contactoCtrl.sendingMsg" class="fa fa-chevron-right" aria-hidden="true"></i> </button>
				</div>
			</div>
		</form>
	</div>
</div>
