@import '../../styles/mixins/main';
.knowus-route{
	@media screen and (min-width: 1400px){
		margin-top:15%;
	}
	margin-bottom:100px;
	margin-top:4%;
	text-align:justify;
	p{
		font-family: $roboto-light;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 1px;
		padding-right:3%;
		& strong{
			color:$brisas-green;
		}
	}
	h1,h3{
		font-family:$MuseoSans-500;
	}	
	.content{
		img{
			height:275px;
		}
	}
}
@media print {
	.knowus-route {
		display: none;
	}
}