@import '../../styles/mixins/main';
.package{
	@media screen and (max-width: 1400px){
		.container{
			padding: 0;
			width: 100%;
		}
	}
	@media screen and (min-width: 1400px){
		margin:15% auto;
	}	
	@include responsive(phone){
		min-height: 100vh;
		.package-list{
			margin-top:20%;
			width:100%;	
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
		}
	}
	@include responsive(tablet){
		.package-list{
			margin-top: 10%;
		}
	}
	.package-list-item.ng-enter {
		-ms-opacity: 0;
		opacity: 0;
	}


	.package-list-item.ng-enter.ng-enter-active {
		-ms-opacity: 1;
		opacity: 1;
	}

	.package-list-item.ng-leave {
		-webkit-transition:0.2s linear all;
		-moz-transition:0.2s linear all;
		-ms-transition:0.2s linear all;
		-o-transition:0.2s linear all;
		transition:0.2s linear all;

		-ms-opacity: 1;
		opacity: 1;
	}

	.package-list-item.ng-leave.ng-leave-active {
		-ms-opacity: 0;
		opacity: 0;
	}
	.ngrs-range-slider{
		margin:10px 0 10px;
	}
	margin:0 30px;
	margin-bottom:100px;
	margin-top:50px;
	text-decoration: none;
	@include responsive(phone){
		margin:0;
	}
	.sidebarButton{
		display: none;
		@include responsive(phone, tablet){
			display:inline-block;
			.btn-brisas{
				position: absolute;
				left:0;
				border: 0;
				@include btn-brisas(100%, 40px);
			}
		}	
	}
	.btn-brisas-danger{
		@include btn-brisas-danger(100%, 45px);
	}
	.sidebar{
		@include responsive(phone, tablet){
			display: none;
			position: absolute;
			top:-10px;
			width: 100%;
			left: 0;
			z-index: 1;
			right: 0;
		}
		top:0;
		padding:15px;
		box-shadow:1px 5px 7px #2e2e2e;
		margin-top: 9px;
		background:#ccc;
		h4{
			font-size:16px;
		}
		.fa-search{
			position: absolute;
			top: 62px;
			left: 25px;
			color:$brisas-green;
		}
		.form-control, .btn{
			border-radius: 0;
			padding-left:30px;
			box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
			&:focus, &:active:focus, &:active{
				outline:$premium;
				border-color:$premium;
				box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
			}

		}

	}
	.delete{
		color:white;
		font-size:20px;
		position: absolute;
		top: 70%;
		z-index: 999;
		left: 86%;
		cursor: pointer;
	}
	.edit{
		color: white;
		font-size: 18px;
		position: absolute;
		top: 171px;
		z-index: 999;
		left: 76%;
		cursor: pointer;
	}
	.card {
		box-shadow:1px 5px 7px #2e2e2e;
		height:200px;
		width:100%;
		margin-bottom:30px;
		background-size:cover;
		-webkit-filter: brightness(80%); /* Chrome, Safari, Opera */
		filter: brightness(80%); 
		&:hover{
			cursor:pointer;
			-webkit-filter: brightness(100%); /* Chrome, Safari, Opera */
			filter: brightness(100%); 
		}
		h4{	
			-webkit-filter: brightness(100%) !important; /* Chrome, Safari, Opera */
			filter: brightness(100%)!important; 
			color:white;
			text-align: center;
			padding:15px;
			padding-top:25px;
		}
		.short-title{
			text-shadow: 0 0 4px #000;
			max-width: 220px;
			word-break: break-word;
		}
	}
	.price{
		background: #b0062a;
		height: 40px;
		width: 93%;
		position: absolute;
		top: 68%;
		left: 10px;
		h3{
			margin-top:9px;
			text-align: center;
			color:white;
			top:0;
		}
	}
	.premium-price{
		background: $premium;
		height: 40px;
		width: 93%;
		position: absolute;
		top: 68%;
		left: 10px;
		h3{
			margin-top:9px;
			text-align: center;
			color:white;
			top:0;
		}
	}
	.promo{
		background: rgba($brisas-green,0.6);
		height: 30px;
		min-width: 45%;
		padding: 0px 5%;
		position: absolute;
		top: 54%;
		right: 8px;
		h4{
			font-size:14px;
			margin-top:9px;
			text-align: center;
			color:white;
			top:0;
		}
	}
}
.modal-body{

	height:550px;
	margin:0px;
	padding:10px;
}
.modal-header{
	h4{
		color:$brisas-green;
	}
}
.close{
	outline:none;
}
.iframe-placeholder
{
	background: url('http://www.eet-uae.com/img/load.GIF') 0px 0px no-repeat;
	background-size: 120px 120px;
	background-position: center; 
}
.package-description{
	margin-bottom:100px;
	margin-top:3%;
	text-align:justify;
	p{
		font-family: $roboto-light;
		font-size:16px;
		padding-right:3%;
	}
	h1,h3{
		font-family:$MuseoSans-500;
	}
	.content{
		margin-top:4%;
		.sub-img{
			margin-top: 3%;
			img{
				-webkit-filter:brightness(0.9);
				-moz-filter:brightness(0.9);
				filter:brightness(0.9);
				&:hover{
					cursor:pointer;
					-webkit-filter:brightness(1);
					-moz-filter:brightness(1);
					filter:brightness(1);
				}
			}
		}
		.btn-brisas{
			@include btn-brisas(100%, 40px);
			margin-top: 3%;
			font-size:16px;
			i{
				font-size: 17px;
				margin-right: 10px;
			}
		}
	}
	img{
		width:100%;
	}
}
.package-list-item{
	@include responsive(phone){
		width: 80%;
	}
}
@media print {
	.package {
		display: none;
	}
}